<section
    class='tab {{tabs.settings.cssClass}} {{tabs.settings.id}}'
    data-tab='{{tabs.settings.id}}'
    data-group='{{tabs.settings.group}}'
>
    <fieldset class="two-columns">
        <legend>{{localize "APP_EXAMPLE.GENERAL.general"}}</legend>
        <span>{{localize "APP_EXAMPLE.CONFIG.FeatureForm.label"}}</span>
        {{formInput document.system.schema.fields.featureForm value=document.system.featureForm choices=featureFormChoices localize=true}}
    </fieldset>
    {{> "systems/app-example/templates/sheets/global/partials/resource-section/resource-section.hbs" }}
</section>