<div
  class="yakov-dryh-sheet-shell__column yakov-dryh-sheet-shell__column--story"
>
  <div class="yakov-dryh-story-header">
    <div class="yakov-dryh-story-fields">
      <div class="yakov-dryh-name-row">
        <div class="yakov-dryh-avatar-block">
          <button
            type="button"
            class="yakov-dryh-avatar-btn"
            data-yakov-dryh-action="avatar-change"
            aria-label="{{localize
              'YAKOV_DRYH.SHEETS.Actor.Character.Actions.ChangeAvatar'
            }}"
          >
            {{#if actorImg}}
              <img src="{{actorImg}}" alt="{{actorName}}" />
            {{else}}
              <img src="icons/svg/mystery-man.svg" alt="{{actorName}}" />
            {{/if}}
          </button>
        </div>

        <div class="yakov-dryh-name-concept">
          <label class="yakov-dryh-field">
            <span>{{localize
                "YAKOV_DRYH.SHEETS.Actor.Character.Fields.Name"
              }}</span>
            <input type="text" name="name" value="{{actorName}}" />
          </label>

          <label class="yakov-dryh-field">
            <span>{{localize
                "YAKOV_DRYH.SHEETS.Actor.Character.Fields.Concept"
              }}</span>
            <textarea
              class="yakov-dryh-field__textarea yakov-dryh-field__textarea--concept"
              name="system.concept"
              rows="2"
            >{{actorData.concept}}</textarea>
          </label>
        </div>
      </div>

      <label class="yakov-dryh-field">
        <span>{{localize
            "YAKOV_DRYH.SHEETS.Actor.Character.Fields.ExhaustionTalent"
          }}</span>
        <textarea
          class="yakov-dryh-field__textarea yakov-dryh-field__textarea--talent"
          name="system.talents.exhaustion"
          rows="2"
        >{{actorData.talents.exhaustion}}</textarea>
      </label>

      <label class="yakov-dryh-field">
        <span>{{localize
            "YAKOV_DRYH.SHEETS.Actor.Character.Fields.MadnessTalent"
          }}</span>
        <textarea
          class="yakov-dryh-field__textarea yakov-dryh-field__textarea--talent"
          name="system.talents.madness"
          rows="2"
        >{{actorData.talents.madness}}</textarea>
      </label>

      <label class="yakov-dryh-field">
        <span>{{localize
            "YAKOV_DRYH.SHEETS.Actor.Character.Fields.Scars"
          }}</span>
        <textarea data-yakov-dryh-field="scars">{{scarsText}}</textarea>
      </label>
    </div>
  </div>
</div>
